{
    "printWidth": 80,
    "endOfLine": "crlf",
    "tabWidth": 4,
    "trailingComma": "es5",
    "semi": true,
    "singleQuote": false,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["cn"]
}
